/* #ffa62e, #ea4d2c, #000000, #14213D, #FFFFFF */
@import 'https://fonts.googleapis.com/css?family=Roboto';

html, body {
    background: linear-gradient(to bottom, #FFA62E , #EA4D2C);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: #FFFFFF;
}

.drumkit{
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pad{
    width: 100px;
    height: 100px;
    margin: 10px;

    box-shadow: 0 8px 6px -6px #14213D;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.pad :hover{
    background-color: darken(#FFF, 10%);
    cursor: pointer;
}

.pad :active{
    background-color: darken(#FFF, 10%);
    transform: scale(1.1);
    transition: all .2s;
}

.pad-1, .pad-2, .pad-3 { 
    border: 5px solid #ea4d2c; 
}
.pad-4, .pad-5, .pad-6{
    border: 5px solid #14213D; 
}
.pad-7, .pad-8, .pad-9 { 
    border: 5px solid #ffa62e; 
}
