/* https://coolors.co/e0e0e0-bebebe-ffffff-2667ff-3b28cc */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin softUi {
  border-radius: 25px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;  
}

@mixin center {
    display:flex;
    justify-content:center;
    align-items:center;  
}

body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  color:#050311;
}

form{  
  display: flex;
  justify-content: center;
  
  input, button{
    margin: 10px;
    padding: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    @include softUi();
  }

  button{
    cursor: pointer;
    color: #ffffff;
    background-color: #2667ff;
    transition: background-color 0.8s;
    :hover > &{
      background-color: #3b28cc;
    }
    :active > &{
      background-color: #3b28cc;
      transform: translateY(4px);
    }
  }
}


.cities{  
  margin-top: 50px;
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);

  .city-name, .city-main{
    font-size: 14px;
  }

  .city-temperature-main{
    font-size: 48px;
  }

  .city-stats{
    padding: 10px;
    span{
      padding: 0 10px;
    }
  }

  .city-stats, .city-temperature-main {
    @include center();
  }

  li{
    @include softUi();
    text-align: center;

    h2{
      sup{
        font-size: 10px;
        padding: 1px 6px;
      }
    }
    
    figure{
      img{
        width: 120px;
        height: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      figcaption{
        text-align: center;
      }
    }
  }
}







