/* https://bit.ly/3tM9amt */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #1D3557;
  font-family: 'Roboto', sans-serif;
}

form{
  input, button{
    margin: 10px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.05);
    text-align: center;
    font-size: 16px;
    
  }

  input{   
    color: #0B132B;
    font-weight: 300;
  }

  button{
    color: #EDF6F9;
    background-color: #006D77;
    font-weight: 600;
  }
}

.city-name{
  sup{
    font-size: 8px;
    padding: 3px 4px;
    border-radius: 30px;
    color: #F1FAEE;
    background: #E63946;
  }
}

.cities{
  display: grid;
  grid-gap: 30px 20px;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.city{
  padding: 15px;
  border-radius: 20px;
  background-color: #F1FAEE;


  .city-temperature{
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: #0B132B;

    sup{
      font-size: 0.5em;
    }
  }

  .city-pressure, .city-humidity{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 10px;
    color: #0B132B;

    sup{
      font-size: 0.5em;
    }
  }
}

figure{
  img{
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }

  figcaption{
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}


