/* https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #87CEFA 0%, #78BFEB 100%);
}

form{  
  display: flex;
  justify-content: center;

  input, button{
    margin: 10px;
    padding: 15px;
    border: none;
    outline: none;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    font-size: 16px;
  }

  input{   
    color: #212529;
  }

  button{
    color: #F8F9FA;
    background-color: #343A40;
  }
}

.cities{
  margin-top: 50px;
  list-style: none;
  display: grid;
  grid-gap: 0 80px;
  grid-template-columns: repeat(3, 1fr);

  .city{
    color:#fff;
    padding: 20px;
    border: 5px solid #FFF;
    border-radius: 10px;
    text-align: center;

    .city-name{
      sup{
        font-size: 10px;
        padding: 1px 6px;
        border-radius: 10px;
        color: #78BFEB;
        background: #FFF;
      }
    }
    
    figure{
      img{
        width: 120px;
        height: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      figcaption{
        text-align: center;
      }
    }

    div{
      display: inline-block;
      margin: 10px;
    }
  }
}







